<% include ../partials/header %>
<% include ../partials/menu %>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-4">
				<div class="card">
				<!-- TODO: Modify the ejs code below, to conditionally set the image_src to be from our chosen player -->
				  <% 
				  var image_src = '../resources/img/helmet.jpg';
				  if (result_5){
					  image_src = '../resources/img/player' + player_id + '.jpg';
				  }
				  
				  %>
				 <img class="card-img-top" id="player_img" src= "<%- image_src %>" alt="Image of Football Player">
				  <div class="card-body mx-auto">
					<form class="form"action="/player_info/post" method="get">
						<select class="custom-select" name="player_choice" onchange="this.form.submit()">
							 <option selected>Select Player</option>
							 <!-- TODO: Populate our select with player options
							 			For each player, set a new option with a value matching the palyer's id, 
										 but will display the player's name-->
							<%
							if (result_4) {
								var drop = '';
								result_4.forEach(function(item){
									drop += '<option value= \"' + item.id + '\" >' + item.name + '</option>';
								}); %>>"
								<%- drop %>
							<%} %>

						</select>
					</form>
				  </div>
				</div>
			</div>
			<div class="col-8">
				<div class="table-responsive">
					<table class="table">
						<tr>
							<!-- TODO: Set Player Information
							 			If a player has been selected, fill in their information in each of the fields below.
										 You'll need to calculate here the player's average rushing, receiving, and passing yards.-->
							<%
								var year;
								var major;
								var games_played;
								var pass_yards;
								var rec_yards;
								var rush_yards;
								var avg_pass_yards;
								var avg_rec_yards;
								var avg_rush_yards;
								if (result_5){
									year = result_5[0].year;
									major = result_5[0].major;
								}
								if (result_6){
									games_played = result_6[0].count;
									pass_yards = result_5[0].passing_yards;
									rec_yards = result_5[0].receiving_yards;
									rush_yards = result_5[0].rushing_yards;
									avg_pass_yards = pass_yards / games_played;
									avg_rec_yards = rec_yards / games_played;
									avg_rush_yards = rush_yards / games_played;
								}
							%>
							<th>Year</th>
							<td><%-year %></td>
						</tr>
						<tr>
							<th>Major</th>
							<td><%-major %></td>
						</tr>
						<tr>
							<th>Games Played</th>
							<td><%-games_played %></td>
						</tr>
						<tr>
							<td>Passing Yards: <%-pass_yards %></td>
							<td>Avg. Passing Yards: <%-avg_pass_yards %> </td>
						</tr>
						<tr>
							<td>Rushing Yards: <%-rush_yards %></td>
							<td>Avg. Rushing Yards: <%-avg_rush_yards %></td>
						</tr>
						<tr>
							<td>Receiving Yards: <%-rec_yards %></td>
							<td>Avg. Receiving Yards: <%-avg_rec_yards %></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
  
<% include ../partials/footer %>